<div class="widget-quiz-opt-in--wrapper">
    <a href="https://aloeattiva.com/#quiz-wnHrYZ" class="button button--primary">Take Quiz</a>
</div>

<style>
    .widget-quiz-opt-in--wrapper {
        bottom: 90px;
        left: 30px;
        position: fixed;
        z-index: 1;
    }
    .widget-quiz-opt-in--wrapper a {
        background-color: #faf7f2 !important;
        border:solid 1px #acbfb3 !important;
        color: #acbfb3 !important;
    }
    .widget-quiz-opt-in--wrapper a:hover {
        background-color: #acbfb3 !important;
        border:solid 1px #faf7f2 !important;
        color: #faf7f2 !important;
        transition-duration: .5s;
    }
    @media screen and (max-width: 768px) {
        .widget-quiz-opt-in--wrapper {
            bottom: 70px;
            left: 15px;
        }
    }
</style>